@layer components {
    .text-dark {
        @apply text-gray-700 dark:text-gray-100;
    }
    .bg-dark {
        @apply bg-gray-100 dark:bg-gray-700;
    }
    .bg-dark-light {
        @apply bg-gray-100 dark:bg-gray-600;
    }
    .text-light {
        @apply text-gray-700 dark:text-gray-400;
    }
    .border-light {
        @apply border border-gray-700 dark:border-gray-400;
    }
    .nav-dark {
        @apply bg-white dark:bg-gray-800;
    }
    .content {
        @apply container max-w-7xl mx-auto;
    }

    .modal-base {
        @apply fixed flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-70 left-0 right-0 top-0 bottom-0;
    }
    .modal-content {
        @apply bg-white text-gray-800 dark:bg-gray-800 dark:text-gray-200 rounded-xl shadow-2xl p-3 md:p-6 max-h-screen overflow-y-auto scrollbar-thin scrollbar-thumb-gray-600;
    }

    .btn {
        @apply inline-flex items-center px-4 py-2 text-sm;
    }
    .btn-sm {
        @apply inline-flex items-center px-2 py-1 text-xs;
    }
    .btn-primary {
        @apply bg-blue-600 hover:bg-blue-500 border border-transparent rounded-md font-semibold text-white uppercase tracking-widest focus:outline-none focus:border-blue-900 disabled:opacity-25 transition ease-in-out duration-150;
    }
    .btn-success {
        @apply bg-green-600 hover:bg-green-500 border border-transparent rounded-md font-semibold text-white uppercase tracking-widest focus:outline-none focus:border-green-900 disabled:opacity-25 transition ease-in-out duration-150;
    }
    .btn-warning {
        @apply  bg-yellow-600 hover:bg-yellow-500 border border-transparent rounded-md font-semibold text-white uppercase tracking-widest focus:outline-none focus:border-yellow-900 disabled:opacity-25 transition ease-in-out duration-150;
    }
    .btn-danger {
        @apply bg-red-600 hover:bg-red-500 border border-transparent rounded-md font-semibold text-white uppercase tracking-widest focus:outline-none focus:border-red-900 disabled:opacity-25 transition ease-in-out duration-150;
    }
    .btn-ban {
        @apply bg-pink-600 hover:bg-pink-500 border border-transparent rounded-md font-semibold text-white uppercase tracking-widest focus:outline-none focus:border-pink-900 disabled:opacity-25 transition ease-in-out duration-150;
    }
    .btn-info {
        @apply bg-indigo-600 hover:bg-indigo-500 border border-transparent rounded-md font-semibold text-white uppercase tracking-widest focus:outline-none focus:border-indigo-900 disabled:opacity-25 transition ease-in-out duration-150;
    }
    .btn-default {
        @apply bg-gray-800 hover:bg-gray-600 border border-transparent rounded-md font-semibold text-white uppercase tracking-widest focus:outline-none focus:border-gray-900 disabled:opacity-25 transition ease-in-out duration-150;
    }
    .btn-action {
        @apply bg-transparent hover:bg-gray-200 dark:hover:bg-gray-600 border border-transparent rounded-md font-semibold tracking-widest focus:outline-none disabled:opacity-25 transition ease-in-out duration-150;
    }
    .btn-cancel {
        @apply bg-transparent hover:bg-yellow-200 dark:hover:bg-yellow-600 border border-transparent rounded-md font-semibold tracking-widest focus:outline-none disabled:opacity-25 transition ease-in-out duration-150 dark:hover:text-yellow-100 dark:text-yellow-500 text-yellow-700;
    }
    .label {
        @apply block font-medium text-sm;
    }
    .input-search {
        @apply block h-8 w-full pl-10 pr-12 text-sm text-dark bg-dark border-gray-500 focus:border-gray-400 rounded-md;
    }
    .input {
        @apply block rounded-md shadow-md border-gray-300 dark:border-gray-500 bg-transparent;
    }
    .input-sm {
        @apply text-xs h-8;
    }
    .input-md {
        @apply text-sm h-10;
    }
    .text-error {
        @apply text-sm text-red-600 dark:text-red-400 font-medium mt-1;
    }
    .border-error {
        @apply border border-red-600 dark:border-red-400;
    }
    .checkbox {
        @apply w-4 h-4 rounded-full p-1;
    }

    .alert {
        @apply border-t border-b rounded-md px-4 py-3 text-sm;
    }
    .alert-danger {
        @apply bg-red-100 border-red-500 text-red-700;
    }
    .alert-info {
        @apply bg-blue-100 border-blue-500 text-blue-700;
    }
    .alert-success {
        @apply bg-green-100 border-green-500 text-green-700;
    }
    .alert-warning {
        @apply bg-yellow-100 border-yellow-500 text-yellow-700;
    }

    .badge-danger {
        @apply bg-red-100 text-red-800 font-semibold px-2 py-1 rounded dark:bg-red-200 dark:text-red-800;
    }
    .badge-info {
        @apply bg-blue-100 text-blue-800 font-semibold px-2 py-1 rounded dark:bg-blue-200 dark:text-blue-800;
    }
    .badge-success {
        @apply bg-green-100 text-green-800 font-semibold px-2 py-1 rounded dark:bg-green-200 dark:text-green-800;
    }
    .badge-warning {
        @apply bg-yellow-100 text-yellow-800 font-semibold px-2 py-1 rounded dark:bg-yellow-200 dark:text-yellow-800;
    }

    /** Pages **/
    .page-header {
        @apply pb-2 px-2 border-b border-gray-200 dark:border-gray-500 flex justify-between items-center;
    }
    .page-content {
        @apply mt-2 p-2;
    }

    /** others **/
    .radio-selector input:checked + label {
        @apply bg-primary text-white;
    }
    .color-selector input:checked + label {
        @apply ring-2 ring-primary;
    }
}
